<?php

return [
    'viewPath' => __DIR__ . '/views',
    'postDb' => [
        'mongo' => [
            'connectionString' => 'mongodb://localhost:27017/test',
            'collection' => 'test.posts',
        ]
    ],
    'mailDb' => [
        'mongo' => [
            'connectionString' => 'mongodb://localhost:27017/test',
            'collection' => 'test.mails',
        ]
    ],
    'session' => 'session',
    'mailer' => 'simplephpmailer',
    'notificationList' => [
        'leventeloki@gmail.com',
        'lokilevente@yahoo.com',
    ],
    'postRepository' => 'risky',
];
